[submodule "mpreal"]
	path = mpreal
	url = https://github.com/advanpix/mpreal.git
	branch = master
[submodule "CMakeConfigs"]
	path = CMakeConfigs
	url = https://github.com/SimonBolducBeaudoin/CMakeConfigs.git
	branch = devel
